include ../includes/_mixins

.modal__in
	.modal__close.js-modal-close
		+i('close')
	img.modal__img(src='../img/content/modal-calculate.jpg' alt='image')
	p.modal__text Пожалуйста, укажите свои контакты и мы свяжемся с Вами в течение 3 минут
	form.modal__form.form(action='#')
		.form__field
			input.form__input(type='text' placeholder='Имя' data-validation='required')
		.form__field
			input.form__input.js-phone-mask(type='text' placeholder='Номер телефона' data-validation='required')
		.form__field
			button.form__submit.btn.btn_blue(type='submit') рассчитать стоимость