footer.footer
	.footer__container.container
		h3.footer__title Контакты
		p.footer__subtitle Центр сертификации “CERTUP”
		.footer__row
			.footer__col
				h3.footer__logo.logo
					a.logo__link(href="index.html")
						| Cert
						span.logo__link-letter u
						| p
						span.logo__link-text подтверди свое качество
				.footer__address Казахстан, Астана, <br>ул. А. Токпанова, д. 29, оф. 23
				a.footer__link(href='tel:+77172727579') +7 7172 72 75 79
				a.footer__link(href='mailto:sale@certup.kz') sale@certup.kz
				a.footer__link(href='mailto:o.saltanat@certup.kz') o.saltanat@certup.kz
				a.footer__link(href='mailto:zh.akhmetov@certup.kz') zh.akhmetov@certup.kz
			.footer__col
				nav.footer__nav
					a.footer__nav-link(href='#') Сертификаты
					a.footer__nav-link(href='#') Преимущества
					a.footer__nav-link(href='#') Как получить сертификат
					a.footer__nav-link(href='#') Менеджер
					a.footer__nav-link(href='#') Вопрос-ответ
					a.footer__nav-link(href='#') Клиенты о нас
					a.footer__nav-link(href='#') Контакты
			.footer__col
				h4.footer__col-title ОСТАЛИСЬ ВОПРОСЫ?
				p.footer__col-subtitle Сообщите свои контакты <br>и мы с Вами свяжемся
				form.footer__form(action='#')
					.footer__form-field
						input.footer__form-input(type='text' placeholder='Имя' data-validation='required')
					.footer__form-field
						input.footer__form-input.js-phone-mask(type='text' placeholder='Номер телефона' data-validation='required')
					.footer__form-field
						button.footer__form-submit.btn.btn_blue(type='submit') заказать звонок
					input.is-hidden(type='text' placeholder='' name="user_topic" data-topic="Вопрос")
		.footer__bot
			.footer__bot-left
				p © 2016 Certup Все права защищены
			.footer__bot-right
				p
					| Создание сайта:
					a.footer__bot-link(href='http://abtec.kz' target='_blank') &nbsp;Астана Бизнес Технологии
