header.header
	.container
		h1.header__logo.logo
			a.logo__link(href="index.html")
				| Cert
				span.logo__link-letter u
				| p
				span.logo__link-text центр сертификации
		.header__right
			.header__row
				.header__contact
					a.header__contact-phone(href='tel:+77024159929') +7 702 415 99 29
					a.header__contact-phone(href='tel:+77711077888') +7 771 107 78 88
				.header__list-img
					img.header__list-image(src='img/content/header-1.png' alt='image')
					img.header__list-image(src='img/content/header-2.png' alt='image')
					img.header__list-image(src='img/content/header-3.png' alt='image')
					img.header__list-image(src='img/content/header-4.png' alt='image')
					img.header__list-image(src='img/content/header-5.png' alt='image')
			.header__row
				nav.header__nav.nav
					a.nav__link(href='#navigation') Сертификаты
					a.nav__link(href='#cert') Как получить сертификат
					a.nav__link(href='#faq') Часто задаваемые вопросы
					a.nav__link(href='#comment') Клиенты о нас
					a.nav__link(href='#footer') Контакты
