include _mixins

doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    block title
      title Template
    meta(name="viewport" content="width=480")
    meta(name="format-detection" content="telephone=no")
    link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
    <!-- theme color for android 5.0 -->
    meta(name="theme-color" content="#fff")
    block css
      link(rel="stylesheet" media="all" href="css/screen.css")
    <!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
  body
    .wrapper
      include _header
      main.main
        block content
    include _footer
    block js
      script(src="js/app.js")