extend includes/_layout
block title
	title Certup
block content
	section.start
		.container
			.start__col
				h2.start__title Поможем <span class='start__title-line'>быстро</span> и <span class='start__title-line'>недорого</span> оформить сертификаты качества и декларации соответствия!
				p.start__subtitle Квалифицированная помощь в сертификации товаров, продукции, услуг, а также в оформлении разрешительных документов
				a.btn.btn_blue(href='#') заказать звонок
			.start__col
				img.start__img(src='img/content/cert-start.png' alt='image')

	section.code
		.container
			h3.code__title Не нашли нужный сертификат? Введите код ТН ВЭД и получите расчет стоимости
			form.code__form(action='#')
				.code__form-field
					input.code__form-input(type='text' placeholder='Код ТН ВЭД')
				.code__form-field
					input.code__form-input(type='text' placeholder='Номер телефона')
				.code__form-field
					button.btn.btn_blue.btn_sm(type='submit') рассчитать стоимость

	section.econom
		.container
			h2.econom__title Работая с нами, Вы сэкономите время и не ошибетесь в выборе документов
			.econom__row
				.econom__col
					.econom__icon
						+i('econom1-original')
					h3.econom__desc Не нужно никуда выезжать
					p.econom__text Все операции проводятся удаленно - отправка документов онлайн, доставка оригинала по почте
				.econom__col
					.econom__icon
						+i('econom2-original')
					h3.econom__desc БЕсплатная консультация
					p.econom__text Персональный менеджер подскажет, как правильно получить документы с учетом всех тонкостей
				.econom__col
					.econom__icon
						+i('econom3-original')
					h3.econom__desc комплексный подход
					p.econom__text Гибкие условия при заказе сертификатов для разнородных товаров

	section.bonus
		.container
			h2.bonus__title Приятный бонус - бесплатная доставка!
			p.bonus__subtitle Бесплатно доставляем сертификаты по всему Казахстану

	section.cert
		.container
			h2.cert__title Как получить сертификат?
			p.cert__subtitle Оформим всего в 3 этапа
			ul.cert__list
				li.cert__list-item
					.cert__list-icon
						+i('cert1-original')
					.cert__list-content
						h3.cert__list-title Оформление заявки
						p.cert__list-text Указываете свои контакты на сайте и наш менеджер связывается с Вами для уточнения запроса
				li.cert__list-item
					.cert__list-icon
						+i('cert2-original')
					.cert__list-content
						h3.cert__list-title изготовление документа
						p.cert__list-text Мы оформляем для Вас соответствующий разрешительный документ
				li.cert__list-item
					.cert__list-icon
						+i('cert3-original')
					.cert__list-content
						h3.cert__list-title получение заказа
						p.cert__list-text Сразу после изготовления Вам направляется скан-копия документа, оригинал отправляется по почте

	section.discount
		.container
			h2.discount__title
				| Больше сертификатов - больше скидка!
				span.discount__title-mark *
			p.discount__subtitle Выберите, сколько сертификатов хотите заказать - и удивитесь, насколько больше становится ваша скидка!
			p.discount__info *Акция действительна до 30 ноября 2016 года
			form.discount__form(action='#')
				.discount__form-field
					.discount__form-select-style
						select.discount__form-select
							option.discount__form-option(value='1 сертификат') 1 сертификат
							option.discount__form-option(value='2 сертификата') 2 сертификата
							option.discount__form-option(value='3 сертификата') 3 сертификата
							option.discount__form-option(value='4 сертификата') 4 сертификата
							option.discount__form-option(value='5 сертификата') 5 сертификата
				.discount__form-field
					input.discount__form-input(type='text' placeholder='Имя')
				.discount__form-field
					input.discount__form-input(type='text' placeholder='Номер телефона')
				.discount__form-field
					button.discount__form-submit.btn.btn_blue(type='submit') оформить сертификаты
			p.discount__form-info Мы перезвоним Вам в течение 3 минут.

	section.person
		.container
			h2.person__title Ваш персональный менеджер
			p.person__subtitle Позаботится о документах на всех этапах от подачи заявки до передачи Вам в руки
			.manager
				.manager__col
					.manager__img
						img.manager__image(src='img/content/manager-1.png' alt='image')
					p.manager__name Жасулан
					.manager__row
						.manager__phone-icon
							+i('phone-original')
						a.manager__phone(href='tel:+77711077888') +7 771 107 78 88
					.manager__row
						.manager__mail-icon
							+i('mail-original')
						a.manager__mail(href='mailto:zh.akhmetov@certup.kz') zh.akhmetov@certup.kz
					a.manager__btn.btn.btn_blue(href='#') связаться с менеджером
				.manager__col
					ul.manager__list
						li.manager__list-item
							.manager__list-icon
								+i('mark-original')
							.manager__list-text Поможет точно определить требуемый сертификат или декларацию из 250 существующих видов.
						li.manager__list-item
							.manager__list-icon
								+i('mark-original')
							.manager__list-text Поможет собрать документы и сформировать запрос.
						li.manager__list-item
							.manager__list-icon
								+i('mark-original')
							.manager__list-text Отправит документы во все требуемые инстанции.
						li.manager__list-item
							.manager__list-icon
								+i('mark-original')
							.manager__list-text Добьется ускоренного оформления и снижения стоимости.
				.manager__col
					.manager__img
						img.manager__image(src='img/content/manager-2.png' alt='image')
					p.manager__name Салтанат
					.manager__row
						.manager__phone-icon
							+i('phone-original')
						a.manager__phone(href='tel:+77024159929') +7 702 415 99 29
					.manager__row
						.manager__mail-icon
							+i('mail-original')
						a.manager__mail(href='mailto:o.saltanat@certup.kz') o.saltanat@certup.kz
					a.manager__btn.btn.btn_blue(href='#') связаться с менеджером

	section.faq
		.container
			h2.faq__title Часто задаваемые вопросы
			p.faq__subtitle Часто задаваемые вопросы и ответы на них помогут Вам в решении проблем
			.faq__row.js-tabs
				.faq__list.js-tabs-nav
					.faq__list-nav.is-active Как понять, подлежит ли мой товар сертификации или декларированию?
					.faq__list-nav Как удостовериться в подлинности документа?
					.faq__list-nav Чем отличается сертификат от декларации?
					.faq__list-nav Что такое код ТН ВЭД и как его подобрать?
					.faq__list-nav Какой сертификат необходимо оформить на автомобиль?
					.faq__list-nav В чем преимущества получения сертификата ИСО?
				.faq__content.js-tabs-content
					.faq__content-item.is-active
						p Сообщите нашему менеджеру код ТН ВЭД товара, описание с основными характеристиками и область применения. Вам будет предоставлена подробная консультация о требуемых документах, сроках и стоимости изготовления.
						.text-center
							img(src='img/content/faq1.jpg' alt='image')
					.faq__content-item
						p В течение 2-3 дней после выпуска сертификата или декларации их данные размещаются в Едином реестре Таможенного союза. По номеру документа Вы можете проверить на сайте Национального центра аккредитации <a href='http://www.rep.nca.kz' target='_blank'>www.rep.nca.kz</a> и Росаккредитации <a href='http://www.188.254.71.82/rds_ts_pub' target='_blank'>www.188.254.71.82/rds_ts_pub</a>.
						p На сертификате и в декларации соответствия не могут быть указаны идентичные регистрационные номера. Это является свидетельством фальсифицированного документа.
						.text-center
							img(src='img/content/faq2.jpg' alt='image')
					.faq__content-item
						p Оба являются официальным документом, подтвердающим соответствие. Согласно техническим гнламентам, продукция подлежит либо сертификации, либо декларированию.
						.faq__content-row
							.faq__content-col50
								p.faq__content-title Декларация
								.faq__content-row
									.faq__content-icon
										+i('mark-blue-original')
									p.faq__content-text Ответственность остается за производителем продукции
								.faq__content-row
									.faq__content-icon
										+i('mark-blue-original')
									p.faq__content-text Оформляется на обычном листе бумаги
							.faq__content-col50
								p.faq__content-title Сертификат
								.faq__content-row
									.faq__content-icon
										+i('mark-blue-original')
									p.faq__content-text Ответственность производитель разделяет с органом сертификации
								.faq__content-row
									.faq__content-icon
										+i('mark-blue-original')
									p.faq__content-text Оформляется на типографическом бланке
					.faq__content-item
						p Товарная Номенклатура Внешне–Экономической Деятельности – это классификатор товаров, создан для применения таможней и участниками ВЭД. Каждый товар имеет определенный код.
						.text-center
							img.faq__content-img-mod(src='img/content/faq4.jpg' alt='image')
					.faq__content-item
						p На автомобиль необходимо оформить Свидетельство безопасности конструкции транспортного средства (СБКТС). Обязательный документ, без которого запрещено обращение и использование колесных транспортных средств на территории Евразийского экономического союза. СБКТС предъявляется при таможенном пересечении границ любой из стран-участниц ЕАЭС, а именно при импорте из-за пределов ЕАЭС.
						.text-center
							img(src='img/content/faq5.jpg' alt='image')
					.faq__content-item
						.faq__content-hor-row
							p.faq__content-hor-text
								span.faq__content-hor-icon
									+i('mark-blue-original')
								| <b>Расширение потребительской удовлетворенности</b> - наличие сертификата ИСО повысит удовлетворенность потребителей и увеличит продажи.
						.faq__content-hor-row
							p.faq__content-hor-text
								span.faq__content-hor-icon
									+i('mark-blue-original')
								| <b>Участие в закупках</b> - наличие сертификатов исо дает право на получение условных скидок.
						.faq__content-hor-row
							p.faq__content-hor-text
								span.faq__content-hor-icon
									+i('mark-blue-original')
								| <b>Экологические преимущества</b> - наличие сертификата свидетельствует о том, что предприятие борется с негативным воздействием на окружающую среду.
						.faq__content-hor-row
							p.faq__content-hor-text
								span.faq__content-hor-icon
									+i('mark-blue-original')
								| <b>Участие в крупных бизнес</b> - проектах, с возможностью получения "длинных займов" (Даму, ЕБРР, Гос.поддержка).

	section.comment
		.comment__container.container
			h2.comment__title Клиенты о нас
			.comment__row
				.comment__item
					p.comment__text ... Нам импонировала не только приемлемая ценовая политика, но и высокая культура общения Вашего персонала...
					p.comment__author - Козыбахов А.К.,
					p.comment__spec ТОО “Hyundai Com Trans Kazakhstan”
					a.comment__link(href='#') показать оригинал письма
				.comment__item
					p.comment__text ... Нам импонировала не только приемлемая ценовая политика, но и высокая культура общения Вашего персонала...
					p.comment__author - Козыбахов А.К.,
					p.comment__spec ТОО “Hyundai Com Trans Kazakhstan”
					a.comment__link(href='#') показать оригинал письма

	section.guarant
		.container
			h2.guarant__title Гарантии достоверности наших услуг
			.guarant__row
				.guarant__col
					.guarant__item
						.guarant__icon.icon.icon-guarant-1
						h3.guarant__text Работаем с аккредитованными органами Казахстана, России и Таможенного Союза
					.guarant__item
						.guarant__icon.icon.icon-guarant-2
						h3.guarant__text Вы получаете электронную версию документа сразу после его готовности
				.guarant__col
					img.guarant__img(src='img/content/guarant-cert.png' alt='image')
				.guarant__col
					.guarant__item
						.guarant__icon.icon.icon-guarant-3
						h3.guarant__text Вы сможете проверить документ в <a class='guarant__text-link' href='#'>базе данных</a> по его номеру
					.guarant__item
						.guarant__icon.icon.icon-guarant-4
						h3.guarant__text Вернем деньги в случае неполучения (неоформления) сертификата по нашей вине

