extend includes/_layout
block title
	title Certup
block content
	.start
		.container
			.start__col
				h2.start__title Поможем <span class='start__title-line'>быстро</span> и <span class='start__title-line'>недорого</span> оформить сертификаты качества и декларации соответствия!
				p.start__subtitle Квалифицированная помощь в сертификации товаров, продукции, услуг, а также в оформлении разрешительных документов
				a.btn.btn_blue(href='#') заказать звонок
			.start__col